@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");

body {
  height: 100%;
  margin: 0;
  color: var(--text-defaul);
  font-family: "Assistant";
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
body.hidden {
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.h-1,
.h-2,
.h-3,
.h-sm-1,
.h-sm-2,
.h-sm-3 {
  font-weight: 400;
  font-family: var(--font-famlily-defaul);
  color: var(--text-defaul);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

:root {
  --gap: 10px;
  --font-famlily-defaul: "Assistant";
  --color-white: #fff;
  --color-black: #000;
  --color-dark-white: #7d7d7d;
  --color-light-white: #f0f0f0;
  --color-light-white-2: ##d0d0d0;
  --color-blue: #3752b2;
  --text-defaul: #121212;
  --text-sub: #121212;
  --color-border: #d0d0d0;
  --color-subdued-text:  rgba(18, 18, 18, 0.75);
  --color-rgba:  rgba(18, 18, 18, 0.4);
  --color-rgba-light:  rgba(18, 18, 18, 0.4);
  --color-rgba-dark : rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.img-icon {
  width: 20px;
  height: 20px;
}
.border-dark {
  border: 1px solid var(--color-dark-white);
}
.decoration-none {
  text-decoration: none;
  color: var(--text-defaul);
}
.input {
  outline: none;
}
.border-none{
  border: none;
}
/* btn */
.button {
  border: none;
  background: none;
}
.button-color {
  background-color: var(--color-black);
  color: var(--color-white);
}
.button-text {
  font-weight: 400;
  font-size: 16px;
  font-family: "Assistant";
  line-height: 0.9;
  letter-spacing: 0.04em;
}
.button-text-14 {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Assistant";
  letter-spacing: 0.02em;
}
.button-text-13 {
  font-size: 13px;
  font-family: "Assistant";
  line-height: 1.3;
  letter-spacing: 0.03em;
}

/* border */
.border {
  border: 1px solid var(--color-dark-white);
}
/* heading */

.body-1 {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
.body-2 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.body-3 {
  font-size: 10px;
  line-height: 1.3;
}
.caption-1 {
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.3;
}

.heading-40 {
  font-size: 40px;
  line-height: 1.3;
}
.heading-30 {
  font-size: 30px;
  line-height: 1.3;
}
.heading-24 {
  font-size: 24px;
  line-height: 1.2;
}
.heading-20 {
  font-size: 20px;
  line-height: 1.3;
}
.heading-18 {
  font-size: 18px;
  line-height: 1.1;
}
.heading-17 {
  font-size: 17px;
  line-height: 1.3;
}
.heading-16 {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
.text-14 {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-13 {
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.3;
}
.text-10 {
  font-size: 10px;
  line-height: 1.3;
}
.text-uppercase {
  text-transform: uppercase;
}

/* header */
.header {
  box-shadow: inset 0px -1px 0px #e1e3e5;
}
.header-main {
  padding: 8px 5px;
}
.header-top__text {
  padding: 8px 0;
}
.header-top__text {
  letter-spacing: 0.02em;
  box-shadow: inset 0px -1px 0px #e1e3e5;
}
.nav-menu__list {
  gap: 24px;
}
.img-cart {
  width: 40px;
  height: 40px;
}
.box-cart__item {
  position: relative;
}
.quantify-cart__product {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 0;
  top: 15px;
  padding: 10px;
  border-radius: 50%;
}
.header-main__menu {
  gap: 51px;
}
.nav-item__link {
  gap: 14px;
}
.header-sub__list {
  gap: 20px;
}
.nav-menu__item {
  line-height: 76px;
}
.nav-main__menu {
  position: relative;
}
.nav-menu__sub {
  position: absolute;
  top: 75px;
  z-index: 1;
  border: 1px solid var(--color-border);
  padding: 32px 0;
  background-color: var(--color-white);
  width: 197px;
  transition: 0.25s linear;
}
.nav-sub__list {
  gap: 24px;
}
.nav-sub__item {
  line-height: 24px;
  width: 100%;
}
.nav-sub__link{
  padding: 0 16px;
}

.dropdown__sub:hover .nav-menu__sub {
  display: block;
}

/* mobile header */
.header-toggle__btn {
  cursor: pointer;
}
.header-toggle {
  position: relative;
}
.header-mobile {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 96px;
  background-color: var(--color-white);
  width: 100%;
  z-index: 1;
}
.header-mobile__nav {
  padding: 64px 32px 0 32px;
  gap: 35px;
}
.nav-item__summary {
  cursor: pointer;
}
.nav-mobile__sub {
  margin-top: 20px;
}
.mobile-sub__item {
  padding: 10px 0;
}
.nav-item__title {
  font-weight: 600;
}
.footer-moblie__nav {
  background-color: var(--color-light-white);
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-login__link {
  gap: 8px;
}

.nav-login__list {
  gap: 32px;
}

.click-toogle.active .toogle-open {
  display: none;
}
.click-toogle.active .toogle-close {
  display: block;
}
.header-mobile.active {
  display: block;
}

/* main home page */
.main-home {
  margin-top: 4px;
}
.section-banner__wrap {
  background: url(../image/background/bg-home.jpg) top center / cover no-repeat;
}
.section-banner__opacity {
  background: var(--color-rgba-light);
  padding: 100px 0;
}

.product-new__list {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.product-new__large {
  grid-column: span 2;
}

.baner-body {
  gap: 10px;
}
.banner-title {
  color: var(--color-white);
}
.banner-text {
  color: var(--color-white);
}
.banner-btn {
  border: 1px solid var(--color-white);
  padding: 16px;
  color: var(--color-white);
}

.featured-colection__text {
  letter-spacing: 0.04em;
  margin-top: 32px;
}

.card-media {
  position: relative;
}
.card-media__item {
  aspect-ratio: 1;
}
.card-media__text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: var(--color-blue);
  padding: 4px 12px;
  border-radius: 99px;
  color: var(--color-white);
}

.card-body {
  margin-top: 4px;
}
.card-price{
  gap: 0 10px;
}
.card-price__updat{
  text-decoration: line-through;
}
.card-title__link {
  gap: 10px;
  padding: 14px 24px;
  background-color: var(--color-light-white);
}

.card-sub__body {
  padding: 14px 24px;
  background-color: var(--color-light-white);
}
.product-new__sub {
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.link-video__img{
  max-height: 742px;
}
.vidoe-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  width: 62px;
  height: 62px;
  background-color: var(--color-light-white);
  border-radius: 99px;
}
.video-wrap {
  position: relative;
  max-height: 742px;
}

.video-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}
.video-item {
  max-width: 300px;
  transform: scale(0);
  outline: none;
  transition: all 0.3s;
  z-index: 10;
}
.box-video__close {
  position: relative;
  margin: 0 auto;
  color: var(--color-white);
}
.video-item__close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}
.video-list.show-video video {
  transform: scale(1);
}
.video-wrap__color {
}
.video-coating {
  background-color: var(--color-dark-white);
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.show-video {
  pointer-events: all;
  opacity: 1;
}

.desc-list {
  column-gap: 8px 0;
}
.desc-item {
  gap: 16px;
  padding: 16px;
}
.desc-img {
  width: 202px;
  height: 40px;
}
.section-description__wrap {
  padding-bottom: 40px;
}

/* end */

/* colection page */

.colection-act__mobile {
  margin-top: 10px;
}
.btn-mobile__img {
  width: 14px;
  height: 24px;
}
.colection-btn__mobile {
  gap: 8px;
}

.colection-act {
  margin-top: 32px;
}
.colection-act__filter,
.colection-act__sort,
.filter-list {
  gap: 24px;
}

.max-best-selling {
  max-width: 200px;
}

.summary-filter {
  gap: 8px;
  cursor: pointer;
}
.filter-details {
  position: relative;
}
.box-filter__title {
  padding: 16px;
}
.box-filter {
  border: 1px solid var(--color-border);
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 300px;
  background-color: var(--color-white);
}
.box-filter__content {
  border-top: 1px solid var(--color-border);
  padding-top: 8px;
  padding-bottom: 16px;
  gap: 18px;
}
.filter-contetn__item {
  margin: 0px 16px;
}
.box-filter__btn {
  text-decoration: underline;
}

.filter-btn__item {
  gap: 13px;
}

.filter-form {
  gap: 32px;
  padding-top: 16px;
}
.filter-form__input {
  max-width: 111px;
  padding: 15px 16px;
}
.filter-form__input::placeholder {
  font-size: 16px;
  align-items: center;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

/* pagr search */

.form-page__search {
  border: 1px solid var(--text-defaul);
  padding: 15px;
  margin-top: 32px;
  position: relative;
}
.form-lable__search{
  position: absolute;
  font-size: 12px;
  line-height: 1.3;
  top: 4px;
}
.form-input__search{
  margin-top: 10px;
}

/* page look book */

.look-book__list {
  margin-top: 24px;
  display: block;
}
.look-book__item {
  gap: 10px;
}
.item-grid__2nd {
  grid-template-columns: 1fr 1fr;
}
.grid-item__large {
  grid-template-columns: repeat(2, 1fr);
}
.look-item__large {
  grid-column: span 2;
}

.look-book__img {
  height: 100%;
}
.look-book__item {
  margin-bottom: 10px;
}

.look-book__sub {
  gap: 10px;
}
/* about page */

.about-content__text {
  margin-top: 32px;
  gap: 32px;
}
.section-about__promise {
  background-color: var(--color-light-white);
}

.promise-text {
  margin-top: 32px;
}

/* blog */
.main-blog__wrap {
  padding-top: 123px;
  padding-bottom: 40px;
}

.card-body__blog {
  background-color: var(--color-light-white);
  padding: 24px;
}
.card-blog__time {
  margin-top: 8px;
  margin-bottom: 16px;
}
.blog-item__2nd {
  gap: 10px;
}

/* atricle  */
.atricle-share {
  gap: 12px;
}
.container-atricle__banner {
  padding: 0;
}
.atricle-time {
  margin-top: 24px;
  margin-bottom: 35px;
}

.atricle-content__list {
  gap: 32px;

  padding: 40px 0;
}
.atricle-media__parameter {
  padding-left: 25px;
  margin-top: 40px;
}
.atricle-view {
  color: var(--text-defaul);
  margin-top: 40px;
}
.atricle-link__back {
  gap: 8px;
  margin: 0 auto;
  padding-top: 80px;
}

/* contact */
.section-contact {
  max-width: 513px;
  margin: 0 auto;
}
.contact-hours {
  font-weight: 700;
}
.nav-list__hours {
  gap: 10px;
}
.form-contact {
  margin-top: 64px;
  gap: 16px;
}
.form-contact input::placeholder{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-famlily-defaul);
  line-height: 0.9;
  letter-spacing: 0.04em;
}
.form-contact input,
.form-text__Content {
  padding: 16px;
}
.form-text__Content {
  height: 121px;
}
.form-text__Content::placeholder {
  font-size: 16px;
  line-height: 0.9;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: "Assistant", sans-serif;
}
.btn-contact {
  padding: 16px 35px;
  max-width: 106px;
  margin-top: 16px;
}

/* cart */
.section-cart {
}
.cart-top__link {
  color: var(--text-defaul);
}
.cart-table__title {
  padding-bottom: 18px;
}
.cart-table__list {
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  gap: 40px;
}
.cart-table__item {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image  desc price"
    "image quantity price";

  align-items: stretch;
  column-gap: 26px;
}
.cart-table__img {
  aspect-ratio: 1;
}
.cart-table__media {
  grid-area: image;
}
.cart-table__desc {
  grid-area: desc;
}
.cart-table__quantity {
  grid-area: quantity;
  margin-top: 7px;
  align-items: baseline;
}
.cart-table__price {
  grid-area: price;
}
.cart-product__name {
  margin-bottom: 7px;
}
.cart-product__color {
  color: var(--color-subdued-text);
}
.cart-table__quantity {
  gap: 12px;
}

.cart-table__change {
  border: 1px solid var(--color-border);
  max-width: 138px;
  padding: 12px;
}
.input-cart__number {
  outline: none;
  border: none;
  width: 60px;
  text-align: center;
}

.cart-total__product {
  padding-top: 24px;
}
.btn-total__check {
  padding: 16px;
}
.cart-show__all {
  border: 1px solid var(--color-black);
  max-width: 120px;
  margin: 0 auto;
  padding: 16px 25px;
}

/* product detail */
.main-detail__product {
  margin-top: 4px;
}
.card-detail__media {
  position: relative;
}
.btn-zoom__img {
  position: absolute;
  top: 16px;
  left: 16px;

  padding: 0;
}
.item-zomm__img {
  width: 30px;
  height: 30px;
}
.card-next__media {
  margin-top: 24px;
  gap: 25px;
}
.cart-next__text {
  color: var(--color-dark-white);
}
.card-media__list {
  gap: 10px;
}
.scroll-snap-list {
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  overflow: auto;
}
.scroll-snap-item {
  scroll-snap-align: center;
}
.card-media__scroll {
  min-width: 100%;
}
.card-detail__img {
  width: 100%;
  aspect-ratio: 1;
}
.scroll-snap-list::-webkit-scrollbar {
  height: 0;
}
.detail-product__desc {
  gap: 16px;
}
.color-list {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
.btn-select__color {
  border: 1px solid var(--color-dark-white);
  border-radius: 99px;
  padding: 8px 12px;
}
.btn-select__color:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 0.5s;
}
.detail-quantity {
  margin-bottom: 12px;
}
.detail-btn {
  gap: 8px;
}
.btn-add__cart,
.btn-by__now {
  border: 1px solid var(--text-sub);
  padding: 16px 0;
}
.detail-product__text {
  height: 193px;
}
.desc-item__summary {
  cursor: pointer;
  border-top: 1px solid var(--color-border);
  padding: 16px 0;
}
.product-desc__list,.desc-item__summary:last-child{
  border-bottom:1px solid var(--color-border);
}
.product-desc__item[open] .desc-open {
  display: none;
}

.product-desc__item[open] .desc-close {
  display: block;
}
.desc-item__title {
  gap: 10px;
  font-size: 15px;
}
.desc-item__text {
  margin: 8px 16px;
}

.desc-link__share {
  margin-top: 16px;
}

.card-product__new {
  background-color: var(--color-light-white);
  padding: 32px;
}
.card-link {
  border: 1px solid var(--text-defaul);
  padding: 16px 10px;
  max-width: 106px;
}
.section-new__row {
  flex-direction: column-reverse;
}
.card-steght__item {
  padding: 16px;
}

/* footer */
.footer-main {
  border-top: 1px solid var(--color-border);
  padding: 40px 0;
}
.footer-top__row {
  gap: 41px 0;
}
.nav-footer__title {
  margin-bottom: 24px;
}
.nav-footer__link{
  color: var(--color-subdued-text);
}

.nav-footer__list {
  gap: 16px;
}
.footer-logo__img {
  max-width: 88px;
}
.footer-sub {
  padding: 40px 0;
}
.footer-form {
  gap: 24px;
}
.footer-form__item {
  padding: 16px;
}

.btn-footer {
  border: none;
  background: none;
}
.footer-nav__icon {
  gap: 26px;
  margin-top: 30px;
}
.footer-bottom__wrap {
  padding-top: 40px;
  padding-bottom: 24px;
  border-top: 1px solid var(--color-border);
}

.footer-bottom__select {
  gap: 8px;
}
.footer-select__item {
  gap: 12px;
}

.item-pay__img {
  width: 38px;
  height: 24px;
}
.select-box{
  padding: 12px;
  outline: none;
}
.select-item__form{
  appearance: none;
  outline: none;
  color: var(--color-subdued-text);
}
.footer-pay {
  margin-top: 25px;
  margin-bottom: 17px;
}
.nav-pay {
  gap: 6px;
}
/* responsive */

@media (min-width: 578px) {
  .main-home {
    margin: 0;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
  }
  .footer-bottom__select,
  .nav-pay {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .header-sub__list {
    gap: 26px;
  }
  .header-main {
    padding: 0;
  }
  .section-banner__opacity {
    padding: 152px 0;
  }
  .baner-body {
    background-color: var(--color-rgba-dark);
    max-width: 464px;
    margin: 0 auto;
    padding: 40px;
  }

  /* main */

  .product-new__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-new__large {
    grid-column: span 2;
    grid-row: span 2;
  }
  .featured-colection__list {
    margin-top: 64px;
  }
  .featured-colection__text {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 32px;
  }

  .video-item {
    max-width: 800px;
  }

  .footer-sub {
    flex-direction: row;
    margin-top: 64px;
  }
  .footer-form__title {
    text-align: start;
  }
  .footer-form__item {
    max-width: 331px;
  }

  /* search page */
  .form-page__search {
    max-width: 468px;
    margin: 0 auto;
    margin-top: 32px;
  }

  /* look book  */

  .look-book__title {
    font-size: 24px;
    margin-left: 200px;
  }
  .look-book__item {
    max-height: 570px;
    width: 100%;
  }
  .item-grid__first {
    grid-template-columns: 60% 1fr;
  }
  .item-grid__2nd {
    grid-template-columns: 1fr 60%;
  }
  .grid-item__large {
    grid-template-columns: repeat(3, 1fr);
  }
  .look-item__large {
    grid-column: span 2;
    grid-row: span 2;
  }
  .look-book__img {
    max-height: 570px;
  }
  .look-book__sub {
    height: 570px;
    flex-direction: column;
  }
  .img-sub__item {
    max-height: 280px;
  }
  /* about */
  .about-media__row {
    flex-wrap: nowrap;
  }
  .main-about__wrap {
    padding-bottom: 0;
  }
  .section-about__content {
    max-width: 495px;
    margin: 0 auto;
  }
  .about-content__title {
    font-size: 40px;
  }
  .section-about__promise {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  .promise-content {
    max-width: 701px;
    margin: 0 auto;
  }
  .about-promise__title {
    font-size: 24px;
  }

  /* blog */

  .blog-item__2nd {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .card-blog__lg {
    padding: 16px 184px 40px 184px;
    text-align: center;
  }

  /* atricle blog */
  .section-atricle__content {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 0;
  }
  .container-atricle__banner{
    padding: 0px 64px;
  }
  .atricle-banner {
    margin: 64px 0;
  }
  .atricle-title {
    font-size: 40px;
  }

  /* contact */
  .form-input__first {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  /* cart */
  .cart-table__item {
    grid-template-areas: "image  desc quantity price";
  }
  .text-quantity {
    width: 336px;
  }
  .cart-table__img {
    width: 100px;
    height: 100px;
  }
  .cart-table__quantity {
    margin: 0;
    width: 320px;
  }
  .cart-total__product {
    align-items: end;
  }
  .btn-total__check {
    max-width: 357px;
  }

  /* product detail */
  .detail-product__row {
    gap: 40px;
    flex-wrap: nowrap;
  }
  .card-media__list {
    grid-template-columns: 1fr 1fr;
  }
  .span-2 {
    grid-column: span 2;
  }
  .detail-product__content {
    padding: 0;
  }
  .card-product__new {
    padding: 52px 32px;
  }
  .product-realted__row {
    margin-top: 24px;
  }
  .section-new__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .media-video__item {
    height: 742px;
  }
  /* main */

  /* footer */

  .footer-top__row {
    padding: 0px 40px;
  }
}

@media (min-width: 1200px) {
}
